.checkout-container {
  /* border: 1px solid black; */
  background-color: #fff;
  margin: 12px auto;
  width: 75%;
  /* height: auto; */
  height: calc(100vh - 105px);
  /* height: auto; */
  /* background-image: url("./../assets//pattern-marbel.jpeg"); */

  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.checkout-container h3 {
  font-weight: 16px;
  margin-top: 11px;
  text-align: center;
}
